<div class="container">
    <div class="capaNegra">
        <section class="news-item">
            <article>
                <div class="tituloImagen">
                    <h1 aria-label="Título de la noticia 1">Cinco películas para hablar con niños sobre discapacidad</h1>
                    <img src="../../../assets/NOTICIAS/NOTICIA 1.png" alt="News Image">
                </div>
                <figcaption aria-label="Descripción de la noticia 1">
                    <div class="news-content">
                        <p class="texto">El único<em> camino </em>para que esto cambie, para provocar
                            una transformación en los usos y las formas con que gestionamos
                            la realidad de las personas con discapacidad, pasa necesariamente
                            por la educación de los ciudadanos y las ciudadanas del futuro,
                            es decir, de los niños y niñas. Y, para eso, pocas herramientas
                            existen tan potentes como las historias que ofrecen el cine o
                            la literatura. Aquí van cinco propuestas para ver en familia ideales
                            para ir sentando las bases de un nuevo enfoque desde la empatía y el respeto.<br>
                            <strong>‘El octavo día’ </strong>(1996, a partir de 12 años)<br>
                            <strong>‘Cuerdas’ </strong>(2014, para todos los públicos)<br>
                            <strong>‘Wonder’ </strong>(2017 - para todos los públicos)<br>
                            <strong>‘Cazadores de brujas’</strong> (2018, a partir de siete años)<br>
                            <strong>‘Josee, el tigre y los peces’</strong> (2020, a partir de 13 años)<br>
                        </p>
                    </div>
                </figcaption>
            </article>
        </section>

        <section class="news-item">
            <article>
                <div class="tituloImagen">
                    <h1 aria-label="Título de la noticia 2">Se suprime el término "disminuidos"</h1>
                    <img src="../../../assets/NOTICIAS/noticia 1.avif" alt="News Image">
                </div>
                <figcaption>
                    <div class="news-content">
                        <p class="texto">El <em> Congreso de los Diputado </em>, aprobó este jueves la reforma de la Constitución para
                            eliminar de su artículo 49 el término "disminuidos" y sustituirlo por "personas con discapacidad".
                            Lo hizo al lograr la mayoría de tres quintos exigida para modificar la Carta Magna: todos los
                            partidos votaron a favor del cambio salvo Vox. Los de Santiago Abascal pese a respaldar la reforma
                            acusan al Gobierno de usar esta cuestión para "desplazar" sus pactos con el separatismo y discrepan
                            de la nueva redacción del artículo, que promete "atender específicamente" las necesidades de
                            "mujeres" y "menores" con discapacidad, motivo por el que a última hora pasaron de la abstención
                            previamente anunciada al voto en contra.
                        </p>
                    </div>
                </figcaption>
            </article>
        </section>

        <section class="news-item">
            <article>
                <div class="tituloImagen">
                    <h1 aria-label="Título de la noticia 3">Contratar personas con discapacidad </h1>
                    <img src="../../../assets/NOTICIAS/noticias 3.webp" alt="News Image">
                </div>
                <figcaption>
                    <div class="news-content">
                        <p class="texto">"<strong>Plena inclusión España</strong> reivindicó este martes la necesidad de que todos los desarrollos de nuevas
                            tecnologías “incorporen de inicio la accesibilidad cognitiva” y, con este propósito, animó a las
                            empresas a contratar especialistas con discapacidad intelectual que “validen” el cumplimiento de
                            estos criterios.<br>
                            Así lo defendió el coordinador del proyecto <em>'Transformación Digital para la Inclusión' </em>de Plena
                            inclusión España, <strong>Rafael Robledo</strong>, en un diálogo sobre 'Ciberseguridad y Personas con Discapacidad
                            Intelectual', organizado por Plena inclusión y la agencia de noticias Servimedia.<br>
                            En este encuentro también participaron <strong>Diana Núñez</strong>, técnica de Talento en Ciberseguridad del Incibe,
                            y <strong>Óscar Pueyo</strong>, experto en accesibilidad cognitiva y validador de contenidos de la confederación
                            Plena inclusión España.<br>
                        </p>
                    </div>
                </figcaption>
            </article>
        </section>
    </div>
</div>
