<div class="body">
    <div class="deslizador">
        <div class="diapositiva">
            <div class="dia">
                <a href="https://www.amazon.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Amazon">
                    <img src="../../assets/Banner_colaboradores/amazon.png" alt="Amazon"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cabify.com" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Cabify">
                    <img src="../../assets/Banner_colaboradores/Cabify.png" alt="Cabify"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cocemfe.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Cocemfe">
                    <img src="../../assets/Banner_colaboradores/cocemfe.png" alt="CoCemFE"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.juntadeandalucia.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a la Junta de Andalucía">
                    <img src="../../assets/Banner_colaboradores/junta.png" alt="Junta de Andalucía"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.once.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a la Once">
                    <img src="../../assets/Banner_colaboradores/once.png" alt="Once"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.telefonica.com" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Telefónica">
                    <img src="../../assets/Banner_colaboradores/telefonica.png" alt="Telefónica"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.elcorteingles.es/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a El Corte Inglés">
                    <img src="../../assets/Banner_colaboradores/corte_ingles.png" alt="El Corte Ingles"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.carrefour.es/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Carrefour">
                    <img src="../../assets/Banner_colaboradores/carrefour.png" alt="Carrefour"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.fundaciononce.es/es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Fundación Once">
                    <img src="../../assets/Banner_colaboradores/fundacion_once.png" alt="Fundación Once"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.ilunion.com/es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Ilunion">
                    <img src="../../assets/Banner_colaboradores/iluminion.png" alt="Ilunion"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://fundacionvodafone.es/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Fundación Vodafone">
                    <img src="../../assets/Banner_colaboradores/fundacion_vodafone.png" alt="Vodafone Foundation"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.samsung.com/es/sustainability/accessibility/overview/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Samsung">
                    <img src="../../assets/Banner_colaboradores/samsung.png" alt="Samsung">
                </a>
            </div>
            <div class="dia">
                <a href="hthttps://www.microsoft.com/es-es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Microsoft">
                    <img src="../../assets/Banner_colaboradores/mircrosoft.png" alt="Microsoft">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.amazon.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Amazon">
                    <img src="../../assets/Banner_colaboradores/amazon.png" alt="Amazon"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cabify.com" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Cabify">
                    <img src="../../assets/Banner_colaboradores/Cabify.png" alt="Cabify"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cocemfe.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Cocemfe">
                    <img src="../../assets/Banner_colaboradores/cocemfe.png" alt="CoCemFE"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.juntadeandalucia.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a la Junta de Andalucía">
                    <img src="../../assets/Banner_colaboradores/junta.png" alt="Junta de Andalucía"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.once.es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a la Once">
                    <img src="../../assets/Banner_colaboradores/once.png" alt="Once"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.telefonica.com" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Telefónica">
                    <img src="../../assets/Banner_colaboradores/telefonica.png" alt="Telefónica"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.elcorteingles.es/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a El Corte Inglés">
                    <img src="../../assets/Banner_colaboradores/corte_ingles.png" alt="El Corte Ingles"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.carrefour.es/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Carrefour">
                    <img src="../../assets/Banner_colaboradores/carrefour.png" alt="Carrefour"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.fundaciononce.es/es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Fundación Once">
                    <img src="../../assets/Banner_colaboradores/fundacion_once.png" alt="Fundación Once"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.ilunion.com/es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Ilunion">
                    <img src="../../assets/Banner_colaboradores/iluminion.png" alt="Ilunion"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://fundacionvodafone.es/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Fundación Vodafone">
                    <img src="../../assets/Banner_colaboradores/fundacion_vodafone.png" alt="Vodafone Foundation"/>
                </a>
            </div>
            <div class="dia">
                <a href="https://www.samsung.com/es/sustainability/accessibility/overview/" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Samsung">
                    <img src="../../assets/Banner_colaboradores/samsung.png" alt="Samsung">
                </a>
            </div>
            <div class="dia">
                <a href="hthttps://www.microsoft.com/es-es" target="_blank" [style.cursor]="pointerCursor" aria-label="Enlace a Microsoft">
                    <img src="../../assets/Banner_colaboradores/mircrosoft.png" alt="Microsoft">
                </a>
            </div>
        </div>
    </div>
</div>
